[Unit]
Description=Archivematica service with docker compose
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
User=archivematica
Environment=COMPOSE_FILE="docker-compose.yml:compose-custom.yml"
RemainAfterExit=true
WorkingDirectory=/home/archivematica/archivematica-docker/
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down
SyslogIdentifier=archivematica
StandardOutput=syslog
[Install]
WantedBy=multi-user.target
